header
  nav.flex.justify-start.bb.bg-light-purple.h3.items-center.pa1
    a.ml1.w4.h2.tc.grow.no-underline.black.ba.br2.pointer.lh-h2.bg-white(href="/") Home
    a.ml1.w4.h2.tc.grow.no-underline.black.ba.br2.pointer.lh-h2.bg-white(href="/favorites") Favorites
    a.ml1.w4.h2.tc.grow.no-underline.black.ba.br2.pointer.lh-h2.bg-white(href="/favorites/new") Add Favorite 
